@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Our Custom Cybersec & IT Colors */
  --color-background: #0a0a0a;
  --color-surface: #1a1a1a;
  --color-neon-green: #00FF66;
  --color-neon-blue: #00E5FF;
  --color-text-primary: #EAEAEA;
  --color-text-secondary: #A0A0A0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}